<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <title> Change Data Menu </title>
</head>
<body>
<h2> Tambah Menu </h2>
<form th:action="@{/restoran/change-menu/{id}(id=${menu.id})}" th:object="${menu}" method="POST">
    <input type="hidden" th:field="${menu.id}" />
    Nama Restoran: <br>
    <input type="text" name="nama" th:value="${menu.nama}"/>
    <br>
    Harga: <br>
    <input type="number" name="harga" th:value="${menu.harga}"/>
    <br>
    Deskripsi: <br>
    <input type="text" name="deskripsi" th:value="${menu.deskripsi}"/>
    <br>
    Durasi Masak: <br>
    <input type="number" name="durasiMasak" th:value="${menu.durasiMasak}"/>
    <br>

    <br><br>
    <button type="submit"> Submit </button>
</form>

</body>
</html>