<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <title> Add Restoran </title>
</head>
<body>
    <h3> Tambah Restoran </h3>
    <form th:action="@{/restoran/add}" th:object="${restoran}" method="POST">
        Nama: <br>
        <input type="text" name="nama" />
        <br>
        Alamat: <br>
        <input type="text" name="Alamat" />
        <br>
        Nomor Telepon: <br>
        <input type="number" name="nomorTelepon" />
        <br>

        <button type="submit"> Submit </button>
    </form>

</body>
</html>