<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
    <head>
        <title> Add Menu </title>
        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>
    <body>
        <div class="container">
            <nav th:replace="fragments/fragment :: navbar"></nav>
            <h3> Tambah Menu </h3>
            <form th:action="@{'/menu/add/' + ${resto.idRestoran}}" th:object="${resto}" method="POST">
                <input type="hidden" th:field="*{idRestoran}" />
            <table>
                <thead>
                <tr>
                    <th>Nama</th>
                    <th>Deksripsi</th>
                    <th>Harga</th>
                    <th>Durasi Masak</th>
                    <button type="submit" name="addRow" class="btn btn-primary">Add Row</button>
                </tr>
                </thead>
                <tbody>
                <tr th:each="menu, iterationStatus : *{listMenu}">
                    <td><input th:field="*{listMenu[__${iterationStatus.index}__].nama}" type="text" name="nama" class="form-control" placeholder="Masukkan nama.."/></td>
                    <td><input th:field="*{listMenu[__${iterationStatus.index}__].deskripsi}" type="text" name="deskripsi" class="form-control" placeholder="Masukkan deskripsi.."/></td>
                    <td><input th:field="*{listMenu[__${iterationStatus.index}__].harga}" type="number" name="harga" class="form-control" placeholder="Masukkan harga.."/></td>
                    <td><input th:field="*{listMenu[__${iterationStatus.index}__].durasiMasak}" type="number" name="durasiMasak" class="form-control" placeholder="Masukkan durasi masak.."/></td>
                    <td>
                        <button class="btn btn-danger" type="submit" name="removeRow" th:value="${iterationStatus.index}">Hapus</button> </td>
                </tr>
                </tbody>
            </table>
                <button type="submit"> Submit </button>
            </form>
        </div>
    </body>
</html>