<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <title> Change Data Restoran </title>
</head>
<body>
<h2> Tambah Restoran </h2>
<form th:action="@{/restoran/change/{idRestoran}(idRestoran=${restoran.idRestoran})}" th:object="${restoran}" method="POST">
    Nama Restoran: <br>
    <input type="text" name="nama" th:value="${restoran.nama}"/>
    <br>
    Alamat: <br>
    <input type="text" name="Alamat" th:value="${restoran.alamat}"/>
    <br>
    Nomor Telepon: <br>
    <input type="number" name="nomorTelepon" th:value="${restoran.nomorTelepon}"/>
    <br>

    <br><br>
    <button type="submit"> Submit </button>
</form>

</body>
</html>