<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <title> Home </title>
</head>
<body>
    <h2> Selamat datang di GOPUD! </h2>
    <h3> Tambah Restoran </h3>
    <td> <a th:href="@{/restoran/add}"> Tambah Restoran </a></td>

    <h3> Cari Restoran Berdasarkan ID</h3>

    <form th:action="@{/restoran/view}" method="GET">
        Id Restoran: <br>
        <input type="text" name="idRestoran" />
        <button type="submit"> Cari </button>
    </form>

    <td> <a th:href="@{/restoran/viewall}"> View all</a></td>
</body>
</html>