<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <title> Home </title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container-fluid">
        <h2 th:text=" 'Hello '+ ${#httpServletRequest.remoteUser} + ' !'">Login as</h2>
        <h2> Selamat datang di GOPUD! </h2>
        <button class="btn btn-primary">
            <a th:href="@{restoran/viewall}" style="color: white">View All Restoran</a>
        </button>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Tambah Restoran</div>
                    <div class="card-body">
                        <p>Fitur untuk menambah restoran</p>
                        <button class="btn btn-primary">
                            <a th:href="@{/restoran/add}" style="color: white"> Tambah Restoran</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md 6">
                <div class="card">
                    <div class="card-header">Cari Restoran Berdasarkan ID</div>
                    <div class="card-body">
                        <form th:action="@{/restoran/view}" method="GET">
                            <label for="idRestoran">Id Restoran</label>
                            <input type="text" name="idRestoran" class="form-control"/>
                            <br>
                            <button class="btn btn-primary" type="submit"> Cari</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Tambah User Baru</div>
                    <div class="card-body">
                        <form th:action="@{/user/addUser}" method="POST">
                            <label>User Name</label>
                            <input type="text" name="username" class="form-control"/>

                            <label>Password</label>
                            <input type="password" name="password" class="form-control" pattern="(?=.*\d)(?=.*[A-Za-z]).{8,}" title="Must contain number and letter, and at least 8 or more characters" required/>

                            <label>Role</label>
                            <select name="role" class="form-control">
                                <option selected value=""> -- Pilih Role --</option>
                                <option th:each="roleAvailable : ${listRole}" th:value="${roleAvailable.id}" th:text="${roleAvailable.role}"></option>
                            </select>

                            <br>
                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </form>
                        <br>
                    </div>
                </div>
                <div class = "card">
                    <div class="card-header">Update Password</div>
                    <div class="card-body">
                        <form th:action="@{/user/updatePassword}" method="POST">
                            <label>Password Lama</label>
                            <input type="password" name="passwordLama"  class="form-control"  required/>

                            <label>Password Baru</label>
                            <input type="password" name="password" pattern="(?=.*\d)(?=.*[A-Za-z]).{8,}" class="form-control" title="Must contain number and letter, and at least 8 or more characters" required/>

                            <label>Konfirmasi Password Baru</label>
                            <input type="password" name="cekPassword" pattern="(?=.*\d)(?=.*[A-Za-z]).{8,}" class="form-control" title="Must contain number and letter, and at least 8 or more characters" required/>

                            <br>
                            <button type="submit" class="btn btn-primary">Ubah Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>