<!DOCTYPE html>
<html xmlns:th="http:/>/thymeLeaf.org">
    <head>
        <title>View Restoran</title>
    </head>
    <body>
        <h2>Informasi Restoran</h2>
        <h3 th:text="'ID Restoran: ' + ${resto.idRestoran}"></h3>
        <h3 th:text="'Nama Restoran: ' + ${resto.nama}"></h3>
        <h3 th:text="'Alamat Restoran: ' + ${resto.alamat}"></h3>
        <h3 th:text="'Nomor Telp. Restoran: ' + ${resto.nomorTelepon}"></h3>

        <td> <a th:href="@{/restoran/change/}+${resto.idRestoran}"> Change Data Restoran</a></td>

        <td> <a th:href="@{/restoran/delete/}+${resto.idRestoran}"> Delete Resto Menu</a></td>

        <h2> Daftar Menu: </h2>

        <div th:each="menu : ${menuList}">
            <h3 th:text="'Nama: ' + ${menu.nama}"></h3>
            <h3 th:text="'Harga: ' + ${menu.harga}"></h3>
            <h3 th:text="'Deskripsi: ' + ${menu.deskripsi}"></h3>
            <h3 th:text="'Durasi Penyajian: ' + ${menu.durasiMasak}"></h3>
            <br>
            <td> <a th:href="@{/restoran/change-menu/}+${menu.id}"> Change Data Menu</a></td>
            <td> <a th:href="@{/restoran/delete-menu/}+${menu.id}"> Delete Menu</a></td>
        </div>

        <td> <a th:href="@{/menu/add/}+${resto.idRestoran}"> Add Menu</a></td>
    </body>
</html>